.food > .window-content-line > span
{
  min-width: 3rem;
}

.food input[type=text]
{
  margin-right: 0.75rem;
}

.food button
{
  cursor: pointer;
}

.food button input
{
  display: none;
}

.food > div:last-child
{
  margin-top: 1.5rem;
}

.food button:not(:last-child)
{
  margin-right: 0.75rem;
}